<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>244238894895-s4sn5nsefume90loriej11n4glpfkk6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244238894895-s4sn5nsefume90loriej11n4glpfkk6o</string>
	<key>API_KEY</key>
	<string>AIzaSyABYIXE40_2JK6gkP7ZVNZkSRDtHK190Os</string>
	<key>GCM_SENDER_ID</key>
	<string>244238894895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nus.cs3217.a0166733y.slime</string>
	<key>PROJECT_ID</key>
	<string>cs3217-slime</string>
	<key>STORAGE_BUCKET</key>
	<string>cs3217-slime.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244238894895:ios:7b9f93a125ed7219</string>
	<key>DATABASE_URL</key>
	<string>https://cs3217-slime.firebaseio.com</string>
</dict>
</plist>